/* ====================================================
        Footer CSS
=======================================================*/

footer.theme-2 {
  background-image: linear-gradient(to left top, #a069f3, #1c073b);
  color: #fff;
}
footer.theme-2 ul a {
  color: #fff;
}
footer.theme-2 .boxed-btn {
  background: #1e96f2;
  border-color: #1e96f2;
}
footer.theme-2 .boxed-btn:hover {
  background: transparent;
}
footer.theme-2 .main-footer {
  background: black;
}
