.service-area.theme-2 {
  // background-image: linear-gradient(45deg, #a069f3, #020003),
  //   url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC");
  -webkit-clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
  padding: 100px;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #000;
}
.secondary-heading {
  background-image: linear-gradient(to right, #8d52e7c9, #570fc3c9);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-weight: 700;
}
/* ==========================================================
          Sevices area CSS
============================================================*/

.service-area.theme-2 .container {
  padding-top: 40px;
  margin-top: 120px;
}
.service-area.theme-2,
.service-area.theme-2 h3,
.service-area.theme-2 h5 {
}
.service-area.theme-2:after {
  // background-image: radial-gradient(#6f1fe7, #390050);
}
.theme-2 .single-services {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 30px 20px 60px;
  text-align: center;
  transition: 0.3s;
}
.theme-2 .single-services:hover {
}
.service-area.theme-2 .row {
  margin-left: 0;
  margin-right: 0;
}
.service-area.theme-2 .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
.theme-2 .single-services h4 {
  margin: 40px 0 25px;
  transition: 0.4s;
  line-height: 120%;
}
.theme-2 .single-services .service-icon {
  border: 1px solid #b1b4b7;
  border-radius: 50%;
  color: #6666cc;
  display: inline-block;
  font-size: 60px;
  height: 90px;
  line-height: 81px;
  width: 90px;
}
.service-area.theme-2.about-us {
  background: #38aecc none repeat scroll 0 0;
}

.icon-pack {
  margin-top: 10px;
  padding: 2px;
}

/* ===================================================
              Services CSS
====================================================*/

.service-area.about-us {
  background: #fff;
}
.service-area {
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.service-area::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.service-icon {
  font-size: 30px;
  transition: 0.4s;
}
.service-icon i {
  color: #7d90dc;
}
.service-icon i.icofont-diamond {
  color: #ea368d;
}
.service-icon i.icofont-ui-theme {
  color: #fd7452;
}
.service-icon i.icofont-rocket-alt-2 {
  color: #7a5664;
}
.service-icon i.clip {
  color: $color-primary;
}
.service-icon i.macbook {
  color: #e58983;
}
.single-services h4 {
  transition: 0.4s;
  margin-bottom: 0px;
}
.single-services {
  margin: 25px 0 40px;
  transition: transform 0.2s;
}
.single-services:hover {
  transform: scale3d(1.1, 1.1, 1);
}
.single-services:hover .service-icon,
.single-services:hover.single-services h4 {
  color: $color-primary;
}
.single-services:hover .service-icon,
.single-services:hover.single-services h4 {
  border-color: $color-primary;
  color: $pinkDark;
}

.single-services:hover .service-icon .icon-pack {
}
.store-btn:hover {
  background: $color-primary none repeat scroll 0 0;
  border-color: $color-primary;
  color: #fff;
}
.service-area.about-us .single-services {
  text-align: center;
}
.service-area.about-us .service-icon img {
  max-width: 35px;
}

.download {
  border-top: 2px dotted #fff;
  padding-top: 30px;
}
