// globals
$color-primary: #6937b3cb;
$pinkDark: #e01872;
$pinkLight: #e23985;
//

/* ============================================= 
              Padding CSS
================================================*/
.padding-100 {
  padding: 80px 0;
}
.padding-80 {
  padding: 80px 0;
}
.pdt-150 {
  padding-top: 150px;
}
.pdt-100 {
  padding-top: 100px;
}
.pdt-120 {
  padding-top: 120px;
}
.pdt-20 {
  padding-top: 20px;
}
.pdt-60 {
  padding-top: 60px;
}
.pdt-90 {
  padding-top: 90px;
}
