/*===============================================
              Download Section CSS
================================================*/

.section-padding.about-us {
  overflow: hidden;
  position: relative;
}
.section-padding.about-us {
  background: $color-primary none repeat scroll 0 0;
  padding: 130px 0;
  position: relative;
}
.section-padding.about-us .img-absulate {
  border: 2px solid $pinkLight;
  border-radius: 5px;
  position: absolute;
  right: -1%;
  top: 14%;
  width: 46%;
}
.section-padding.about-us h2 {
  color: #fff;
  margin-bottom: 20px;
}
.section-padding.about-us {
  color: #fff;
}
.section-padding.about-us .boxed-btn {
  background: $color-primary none repeat scroll 0 0;
  border-color: $pinkDark;
  box-shadow: 0 10px 10px $pinkLight;
  margin-top: 24px;
}
.section-padding.about-us .boxed-btn:hover {
  background: $pinkDark;
  color: #fff;
}

.card {
  perspective: 1500px;
  position: relative;
  height: 30rem;
  -moz-perspective: 1500px;

  &__side {
    background-color: orangered;
    height: 30rem;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;

    &--front {
      background-color: #fff;
    }
    &--back {
      background-color: #000;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
