/* =====================================================
              Header CSS
======================================================*/

header {
  padding-bottom: 20px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header,
header h2 {
  color: #fff;
}

.navigation-links {
  width: 100%;
}

.logo h1 {
  margin: 0;
  font-weight: 900;
  & a {
    font-size: 24px;
    color: #fff;
  }
  & a span {
    font-weight: 300;
  }
  & a:hover {
    color: rgb(221, 216, 216);
    text-decoration: none;
  }
}
