/* =====================================================
              Hero Area CSS
======================================================*/

.hero-area--landing {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  color: #fff;
}

// .hero-area {
//   background-image: url("../../build/assets/img/bg-login.jpg");
//   background-position: center center;
//   background-size: cover;
//   overflow: hidden;
//   padding: 150px 0 180px;
//   position: relative;
//   z-index: 1;
// }

/* ===================================================
        Theme 2 (mobile-app-index)
==================================================== */
/* ===================================================
        Hero Area CSS
==================================================== */

// light purple #6837B3
// medium purple #4D1C9B
// dark purple #420F8E

.hero-area.theme-2 {
  background-image: linear-gradient(to right bottom, #6937b3cb, #420f8ec9),
    url("../../build/assets/img/bg-login.jpg");
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 86%);
}
.hero-area.theme-2 {
  padding-bottom: 75px;
  padding-top: 100px;
}
.hero-area.theme-2::after {
  background: none;
  opacity: 0.95;
}
.hero-area.theme-2 .boxed-btn,
.hero-area.theme-2 .borderd-btn,
.smart-choice .boxed-btn,
.smart-choice .borderd-btn {
  border-radius: 5px;
}
.hero-area.theme-2 .boxed-btn {
  margin: 8px;
  background-color: black;
  border-color: white;
  box-shadow: 0 0 10px #326bb4;
}
.hero-area.theme-2 .boxed-btn:hover {
  background-color: transparent;
  border-color: #fff;
}
.hero-area.theme-2 .borderd-btn:hover {
  background-color: #e01872;
  border-color: #e01872;
}
.hero-area.theme-2 p {
  margin-bottom: 45px;
}

.iphone--landing {
  width: 60%;
}
